.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
body {
  background-color: #FAF2ED;
  color: #444;
  margin: 0;
}

main {
  margin: auto;
  width: 80%;
}

h1 {
  /* background-color: #C8BBB1; */
  background-color: #FFD4CA;
  color: #867D76;
  margin: 0;
  margin-bottom: 1em;
  padding: 0.25em;
  text-align: center;
  text-shadow: 1px 1px 3px #333;
  width: 100%;
}

h2, h3, h4, h5, h6 {
  color: #896978
}

section:nth-of-type(odd) {
  /* background-color: #FFD4CA; */
  background-color: #DED0C5;
}

section:nth-of-type(even) {
  background-color: #D7E1D9;
}

section {
  border-radius: 0.25em;
  box-shadow: 3px 4px 5px #D1B7A5;
  margin-bottom: 2em;
  padding: 1.5em;
}

a {
  color: #937684;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: #A9919C;
}

a:hover {
  text-decoration: underline;
}

/***********   FORMS   ***********/

label {
  display: inline-block;
  width: 100px;
  text-align: right;
  padding: 5px;
}

input {
  border-radius: 0.5em;
  display: inline-block;
  margin: 5px 5px;
  padding: 0.5em;
}

button {
  background-color: #FFF8F3;
  border-radius: 0.5em;
  box-shadow: 1px 2px 3px #D1B7A5;
  margin: 5px 5px;
  padding: 0.5em;
}


/***********   TABLES   ***********/

table {
  width: 100%;
  background-color: #F4E4D8;
  border-collapse: collapse;
}

th, td {
  padding: 0.5em;
  text-align: left;
}


tbody tr:nth-of-type(odd) {
  background-color: #F8EDE6;
}


thead tr {
  /*background-color: #DED0C5;*/
  background-color: #FFD4CA;
  color: #222222;
}


/**********   CLASSES   ***********/
.center {
  text-align: center;
}

.align-input {
  margin-left: 115px;
}


.red {
  background-color: red;
}

ul.ba {
  list-style-type: none;
}
